body{
	font-family: 'Oxygen', sans-serif;
	background-image: url("images/wood.jpg");
}

#header{
	overflow-y:hidden;
	width:100%;
	display:inline-block;
	font-size:50px;
	background-color:yellow;
	position:relative;
	text-indent:20px;
}

.sidenav{
	display:inline-block;
	width:20%;
	padding:10px;
	margin-top:10px;
	background-color:#d3d3d3;
}

.sidenav img{
	width:100%;
	height:1000px;

}

#bodycontainer{
	position:absolute;
	display:inline-block;
	width:75%;
	padding:10px;
}

.gallery{
	text-align: center;
	height:50%;
	width:100%;
	display:inline-block;
	margin-top:50px;
	opacity:1;
	
}

#picture{

	display:inline-block;
	max-width:100%;
	max-height:100%;
	transition: opacity 1s;
	border:solid white;
}

#picture.fadeOut{
	opacity:0;
}

#pause{
	text-align:center;
}

#chickcontainer{
	position:relative;
	margin-top:20px;
	width:100%;
	height:auto;
	display:flex;

}

#chickcontainer img{
	top:25px;
	left:50px;
	position:relative;
	width:80%;
	display:inline-block;
	margin-left:2%;
	border-radius:100%;
	border:solid white;
	margin-bottom:20px;

}

.overlay{
	position:relative;
	left:10px;
	bottom:150px;
	display:none;
	text-align:center;
	height:0px;	
}

.overlay ul{
	list-style-type: none;
	color:white;
	font-size:20px;
}

.hoverimg img{
}

.hoverimg:hover img{
	opacity:0.3;
	
}

.overlay.show{
	visibility:visible;
}

#blog{
	position:relative;
	margin-bottom:100px;
	display:inline-block;
	width:100%;
	height:40%;
}

#blog button{
	padding:10px;
	font-size:25px;
	text-align:left;
	width:100%;
	display:block;
	background-color:#66CD00;
	border:none;
	margin-bottom:1px;

}

.panel{
	display:none;
	background-color: #CCFFCC;
	padding: 10px;


}

.footer{
	margin-top:20px;
	width:100%;
	height:auto;
	display:inline-block;
	text-align:center;
	overflow:hidden;
	color:white;

}
.footer a{
	text-decoration:none;
	color:white;
}

.footer p{
	text-align:center;
	display:inline-block;
	margin-bottom:20px;
	font-size:25px;
}
/*
.sidebtn{
	display:block;
	width:100%;
	height:10%;
}
.sidebtn:hover{
	background-color:#cccc00;	
}
*/

.panel.show{
	display:block;
}

